<div class="center_box">
  <h1>New Project</h1>

  <form>
  <div class="field">
    <div class="text_field">
      <label for="project_title">Title</label>
      <input id="project_title" name=title size="30" type="text">
      <br />
    </div>
  </div>

  <div class="field">
    <div class="text_field">
      <label for="project_description">Description</label>
      <input id="project_description" name=description size="30" type="text">
      <br />
    </div>
  </div>

  <div class="field">
    <label for="project_assets_attributes_0_image"></label>
    <input id="project_assets_attributes_0_image" type="file">
  </div>

  <div class="actions">
    <input name="commit" type="submit" value="Create Project">
  </div>
  </form>

  <div class="button">
    <a>Back</a>
  </div>
</div>
