<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hi, <%= @user.name %></h1>
    <p>
      Heads up: <%= @follower.name %> is following you.  Flattering, isn't it!
    </p>
    <p>
      If this upsets you, feel free to login and spam them mercilessly ^.^
    </p>
  </body>
</html>

