<div class="center_box">
  <h2>Share your craft</h2>

  <%= form_for @user do |form| %>
    <%= render :partial => '/users/form', :object => form %>
    <div class="signup"><%= form.submit 'BOO YAH' %></div>
  <% end %>
</div>
