<h1>Showing user.  Add user projects and goals here.</h1>

<div class="buff"></div>

<div class="user-projects-box">
  <% current_user.followed_projects.order("updated_at DESC").limit(10).each do |proj| %>
    <%= link_to image_tag(proj.image.url(:thumb)), proj %>
    <br />
  <% end %>
  <div class="button-blue">
    <%= link_to "New Project", new_project_path %>
  </div>
</div>

<div class="user-goals-box">
  <h2>Goals</h2>
  <% current_user.goals.each do |goal| %>
    <p><%= goal.goal %></p><br />
  <% end %>

  <div class="button-blue">
    <%= link_to "New Goal", new_goal_path %>
  </div>
</div>
