<h1>Showing user.  Add user projects and goals here.</h1>

<div class="buff"></div>

<div id="user-projects-box">
  <div class="button-blue">
    <%= link_to "New Project", new_project_path %>
  </div>
</div>

<div id="user-goals-box">
  <h2>Goals</h2>
  <% current_user.goals.each do |goal| %>
    <p><%= goal.goal %></p><br />
  <% end %>

  <div class="button-blue">
    <%= link_to "New Goal", new_goal_path %>
  </div>
</div>
