<h1>HERE'S YOUR USER!</h1>

<div>
  <%= @user.name.capitalize %><br />
  <%= "Following: " + @user.followed_users.count.to_s %>
  <%= "Followers: " + @user.followers.count.to_s %>
</div>

<div>
  <h2>Projects</h2>
  <% @user.projects.each do |project| %>
    <%= link_to image_tag(project.image.url(:thumb)), project %>
  <% end %>
</div>
