<div id="home_box">
  <h2>Hi there. What would you like to do?</h2>
  <div class="button-blue">
    <%= link_to 'Browse projects', new_user_path %>
  </div>
  <div class="button">
    <%= link_to 'Become a maker', new_user_path %>
  </div>
</div>
