<div class="home-box-right">
  <h2>What's your craft?</h2>

  <div class="home-box-left">
    <%= image_tag('/head.JPG', width: 300) %>
  </div>

  <h3>BOO YAH is a place to share your passions.  Show off your projects and see what friends are working on too.</h3>

  <div class="button-blue">
    <%= link_to 'Become a maker', sign_up_path %>
  </div>
</div>
