<div class="title">
  <%= link_to "Look what the world's making!", projects_path %>
</div>

<% @projects.each do |project| %>
  <div class="project-recent">
    <%= link_to image_tag(project.image.url(:small)), project %>
  </div>
<% end %>
