.comment {
  width: 100%;
  line-height: 24px;
  margin-bottom: 30px;
  .avatar {
    float: left;
    // padding-right: 5px;
    a img {
      width: 48px;
    }
  }
  .time {
    font-style: italic;
  }
}

textarea {
  width: 75%;
  height: 100px;
  background-color: $white;
  color: $text;
  border-color: darken($gray, 10%);
  border-width: 2px;
  outline: none;
}

.comment-button {
  margin-top: 5px;
  padding-bottom: 15px;
  input {
    @include button($blue);
    text-decoration: none;
    font-size: 16px;
    line-height: 16px;
  }
}
