.user-projects-box {
  padding-left: 15px;
  width: 75%;
  float: left;
}

.maker-info {
  width: 25%;
  float: left;
  line-height: 18px;
  .avatar {
    float: left;
    padding-right: 5px;
  }
}

.user-projects-box, .maker-info {
  vertical-align: top;
}

.project-image-medium {
  padding: 2px;
  text-align: center;
  float: left;
}

.project-image-thumb {
  height: 110px;
  position: relative;
  vertical-align: middle;
  text-align: center;
  float: left;
}
