section {
  @include outer-container;
  margin-top: 50px;
  padding-top: 15px;
  aside {
    @include span-columns(6);
  }
  article { @include span-columns(6); }
}

.project-box {
  padding-left: 15px;
  width: 75%;
  float: left;
  background-color: $gray;
}

.proj-show {
  padding-left: 15px;
  padding-right: 15px;
  background-color: lighten($gray, 5%);
  @include box-shadow(0 0 2px 2px hsla(0, 0%, 0%, 0.15));
}
