section {
  @include outer-container;
  padding-top: 50px;
  aside { @include span-columns(6); }
  article { @include span-columns(6); }
}

.project-box {
  padding-left: 15px;
  width: 75%;
  float: left;
  background-color: $gray;
}
