.user-info {
  width: 25%;
  float: left;
  line-height: 18px;
  .avatar {
    float: left;
    padding-right: 5px;
    a img {
      width: 48px;
    }
  }
}

.user-projects {
  width: 75%;
  float: left;
}

.user-info, .user-projects {
  margin-top: 15px;
}
